<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/biblioteca.css">
</head>
<body>

    <header class="topo">
        <div class="logo">Minha Biblioteca</div>

        <nav class="menu">
            <a href="/">
                <button>Voltar</button>
            </a>
        </nav>
    </header>

    <main class="container">
        <section class="banner">
            <h1>Biblioteca</h1>
            <p>Seus jogos adquiridos aparecem aqui</p>
        </section>

        <section>
            <h2>Meus Jogos</h2>

            <div id="lista-biblioteca" class="grid-jogos"></div>
        </section>
    </main>

</body>

<script src="../js/biblioteca.js"></script>
</html>