<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <header class="topo">
        <div class="logo">GameStore</div>

        <nav class="menu">
            <a href="/">
                <button>Voltar</button>
            </a>
        </nav>
    </header>

    <main class="login-container">
        <section class="login-card">
            <h1>Login</h1>
            <p>Acesse sua conta para comprar e salvar seus jogos.</p>

            <input type="email" id="email" placeholder="Email">
            <input type="password" id="senha" placeholder="Senha">

            <button onclick="clienteLogin()">Logar</button>

            <div id="container"></div>

            <button onclick="carregarCadastro()" class="btn-secundario">
                Cadastre-se
            </button>
        </section>
    </main>

</body>
<script src="../js/clienteLogin.js"></script>
</html>