<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página do Jogo</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/jogo.css">
</head>
<body>

    <div id="background"></div>

    <main id="container-jogo"></main>
    <main id="container-jogo"></main>

    <section class="area-avaliacoes">
    <div class="container">
        <h2>Avaliações</h2>
        <div id="lista-avaliacoes"></div>
    </div>
</section>
    <script src="../js/paginaJogo.js"></script>
    <script src="../js/avaliacao.js"></script>
    
</body>
</html>